<h1>Welcome to Simple Desk</h1>
<em>Powered by <%=link_to "BadrIT", "http://www.badrit.com/"%></em>
<h2>What is this site?</h2>
<ul>
  <li>A simple interface for <%= link_to "oDesk", "http://www.odesk.com/"%></li>
  <li>An example on <%= link_to "Ruby Desk", "http://www.github.com/aseldawy/ruby_desk"%> and <%= link_to "RoR Desk", "http://www.github.com/aseldawy/ror_desk"%></li>
</ul>

<h2>How to use Simple Desk</h2>
<p>
  Click on the following link:
  <%= link_to "Team Rooms", :controller=>"simple_desk", :action=>"team_rooms" %>
</p>

